body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

a:link,a:visited,a:active {
  text-decoration: none;
  color: #000000;
  font-weight: normal;
}

a:hover {
  text-decoration: underline;
  color: #000000;
  font-weight: normal;
}

#page { 
 width: 900px;
 color: #000000;
 background: #dbdcdf;
 margin: 10px 0px 10px 0px;
 padding: 10px;
 height: 100%;
}

#wrapper { 
 margin: 0 auto;
 width: 922px;
}

h1 {
margin-top: 0px;
margin-bottom: 0px;
text-align: center;
}

h2 {
margin-top: 0px;
margin-bottom: 0px;
text-align: center;
}

h3 {
margin-top: 0px;
margin-bottom: 0px;
text-align: center;
}
